/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #4F4F4F;
   color: white;
   font-size: 24px;
 }

 .is-tall {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
}

.is-tall-container {
  flex: 1;
}

.img {
  height: 240;
  width: 720;
}

.category-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;
  align-items: center;
  flex-direction: column;

  /**
   * Allow the children to wrap to the next "row",
   * instead of trying to squeeze them all into
   * a single row.
   */
  flex-wrap: wrap;

  width: 478px;
  padding: 5px;
  border: 1px solid #D7DBDD;
}

.card {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically.
   */
  flex-direction: column;

  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}

  .card__description {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;

    /**
     * We're going to lay out this element's children
     * just like in the "Centered prompt" example.
     * First we'll rotate the main axis so that the
     * children are laid out vertically.
     */
    flex-direction: column;

    /**
     * Just like in the "Centered prompt", we'll
     * group the children in the center of their
     * container.
     */
    justify-content: center;

    /**
     * And just like in the "Centered prompt" example,
     * we'll align the children in the center, along
     * the main axis.
     */
    align-items: center;

    padding: 15px 0;
    flex: 4 4 auto;
  }
  .card__descriptionIcon {
    flex: 4 4 auto;
    font-size: 32px;
    margin-bottom: 10px;
  }

  .card__descriptionText {
    flex: 4 4 auto;
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
  }

.card__price {
  flex: 4 4 auto;
  text-align: center;
  color: #57727C;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #D7DBDD;
  background-color: #EEF3F5;
}

.card--fixedWidth {
  flex: 4 4 auto;
  text-decoration-color:  black;
}

a {
  color: #CF1531;
  font-size: 24px;
}

.footer {
  background-color: #CF1531;
  height: 10px;
  
}

p>a {
  color: white;
} 